.banner-home img {
	width: 100%;
	height: 500px;
}

.text-center {
	text-align: center;
}


.activeAdmin {
	background-color: green;
	color: white;
}

.inactiveAdmin {
	background-color: red;
	color: white;
}