.banner-home img {
	width: 100%;
	height: 500px;
}

.text-center {
	text-align: center;
}


.activeAdmin {
	background-color: green;
	color: white;
}

.inactiveAdmin {
	background-color: red;
	color: white;
}
.white > li > a {
	background:#438eb9; 
}
.sidebar-shortcuts-large .welcome {
	color: #337ab7;
	font-weight: 700;
}