.banner-home img {
	width: 100%;
	height: 500px;
}

.text-center {
	text-align: center;
}


.activeAdmin {
	background-color: green;
	color: white;
}

.inactiveAdmin {
	background-color: red;
	color: white;
}
.white > li > a {
	background:#438eb9; 
}
.sidebar-shortcuts-large .welcome {
	color: #337ab7;
	font-weight: 700;
}
@media (max-width: 991px) {
	#sidebar {
		position: absolute;
		top:150px;
		z-index: 5000;
		background-color: white;
	}
	#navbar #navbar-container button {
		position: absolute;
		top:80px;
		
	}
	#navbar #navbar-container #menu-toggler > span {
		display: none;
	}
	li.hover-show ul li {
		z-index: 5000;
		background-color: white;
	}
}